.btn-primary,
.bg-primary,
.btn-soft-primary:hover, 
.btn-soft-primary:focus, 
.btn-soft-primary:active, 
.btn-soft-primary.active, 
.btn-soft-primary.focus,
.btn-outline-primary,
.btn-outline-primary:hover, 
.btn-outline-primary:focus, 
.btn-outline-primary:active, 
.btn-outline-primary.active, 
.btn-outline-primary.focus, 
.btn-outline-primary:not(:disabled):not(.disabled):active,
.alert-primary,
.alert-outline-primary,
.pagination .page-item.active .page-link,
.form-check-input.form-check-input:checked,
.form-control:focus,
.form-check-input:focus,
.social-icon li a:hover,

.swiper-slider-hero .swiper-container .swiper-button-next:hover,
.pricing-rates.starter-plan,
.pricing-rates.business-rate:hover,
.event-schedule:hover,
.container-filter li.active, .container-filter li:hover,
.blockquote-wrapper .blockquote,
.blockquote-wrapper .blockquote:after {    
	background: #007bff !important;
    border-color: #007bff !important;
}


/* 견적접수 업로드 이미지 스타일 */
.uploadImg {
    overflow: hidden;
}

/*
.uploadImg div {
    display: block;
    float: left;
    position: relative;
    width: 23.9%;
    margin-right: 15px;
}
*/

.uploadImg div label.imgwrap {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 180px;
    border: 1px solid #bbb;
    cursor: pointer;
    background: #858585;
}

.uploadImg div label.imgwrap p.bgimg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 222px;
    opacity: .8;
    background: url(/images/uploadImg/file.png) center 11px;
	background-repeat: no-repeat;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.uploadImg div label.imgwrap img {
    width: 100%;
    height: 100%;
}

.uploadImg div span.filewrap {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -99;
    width: 1px;
    height: 1px;
}

.uploadImg div input[type="file"] {
    width: 146px;
}
.tbl_frm01 .frm_file {
    display: block;
    margin-bottom: 5px;
}
.uploadImg table td input {
    width: 202px;
    height: 32px;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    font-size: 13px;
    background-color: #fff !important;
}

.uploadImg div span.filedel {
    position: absolute;
    left: 5px;
    top: 5px;
}


.cb-box-rounded {
    padding: 20px 25px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(5, 5, 5, .05);
    -moz-box-shadow: 0px 15px 20px 0px rgba(5, 5, 5, .05);
    box-shadow: 0px 15px 20px 0px rgba(5, 5, 5, .05);
}